.dropdown {

}

.menu {
    display: flex;
    column-gap: 115px;
    height: 70px;
}

.button {
    position: relative;
    background: none;
    border: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
}

.button:hover {
    color: #E8AA31;
}

.button:hover::after {
    content: '';
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E8AA31;
}
