.ProductPage {
    margin: 30px 0;
}

.breadcrumbs {
    font-size: 1rem;
    font-weight: 500;
    opacity: 50%;
}

.body {
    margin: 30px 0;
    height: 100%;
}

.product {
    height: 788px;
    display: grid;
    grid-template-columns: 47.482% auto;
    column-gap: 30px;
}
