.ProductPanel {
    border-radius: 3px;
    box-shadow: 0 0 10px rgb(204, 204, 204);
    padding: 30px;
    background-color: #fefefe;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.heading {
    margin: 0;
}

.stars {
    flex: 1 1 auto;
    width: 145px;
}

.misc {
    display: flex;
    gap: 30px;
}

.stock {
    color: #24AD53;
    font-weight: 500;
    padding: 15px 0 30px;
}

.info {
    padding: 30px 0;
    border-top: 1px solid rgba(14, 14, 14, 15%);
    border-bottom: 1px solid rgba(14, 14, 14, 15%);
    display: grid;
    grid-template-columns: 195px auto;
    font-size: 1.125rem;
    font-weight: 500;
    row-gap: 20px;
}

.description {
    opacity: 50%;
}

.footer {
    padding-top: 30px;
}

.priceBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 1.875rem;
    font-weight: 700;
}

.bonusBlock {
    display: flex;
    gap: 15px;
    align-items: center;
}

.bonus {
    font-size: 0.875rem;
    opacity: 50%;
    font-weight: 500;
}

.bonusInfo {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: rgba(14, 14, 14, 30%);
    line-height: 19px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

.quantityBlock {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.quantity {

}