.TopBanner {
    height: 100%;
    padding: 44px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.upperBlock {
    display: grid;
    grid-template-columns: 60% 40%;
}

.upperItem {
    white-space: pre-wrap;
}

.upperItem h2 {
    font-size: 2.25rem;
    line-height: 1.277778;
    margin-bottom: 30px;
}

.upperItem h2 span {
    font-weight: 500;
}

.upperItem h2 span:first-child {
    font-weight: 700;
}

.upperItem p {
    font-size: 1.25rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 70%);
}

.upperItem p span {
    font-weight: 400;
}

.upperItem p span:first-child {
    font-weight: 800;
}

.upperItem p span:nth-child(2) {
    font-weight: 600;
}

.upperItem img {
    display: block;
    margin: 0 auto;
}

.bottomBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bottomItem {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

.bottomItem img {
    display: block;
    margin: 0 auto;
}

.bottomItem p {
    text-align: center;
    white-space: pre-wrap;
    font-size: 1.25rem;
    line-height: 1.6;
}
