.NewProducts {
  padding: 55px 0 46px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 30px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #E8AA31;

  &:hover {
    color: #d19623;
  }
}

.buttonSvg {
  margin-left: 15px;
}

.newProductsSwiper {
  width: 100%;
  padding: 15px 15px 70px;

  & :global {
    .swiper-pagination {
      display: flex;
      justify-content: center;
      gap: 5px;
    }
  }
}
