.card {
    width: 375px;
    height: 525px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(173, 173, 173, 0.5);
    display: grid;
    grid-template-rows: 60% 40%;
    gap: 20px;
    padding: 20px;
    background-color: #FEFEFE;
}

.card:hover {
    box-shadow: 0 0 20px rgba(232, 170, 49, 0.7);
}

.img {
    margin: 0 auto;
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.name {
    font-size: 1.125rem;
    font-weight: 600;
}
