.card {
    width: 375px;
    height: 525px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(173, 173, 173, 0.5);
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
    background-color: #FEFEFE;
    position: relative;
}

.card:hover {
    box-shadow: 0 0 20px rgba(232, 170, 49, 0.7);
}

.discount {
    position: absolute;
    left: 0;
    top: 20px;
    width: 90px;
    height: 35px;
    background-color: #E8AA31;
    color: #FFFFFF;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
}

.image {
    flex: 0 0 55%;
    margin: 0 auto;
    display: flex;
    object-fit: scale-down;
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.heading {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.name {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.info {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ABABAB;
    font-weight: 600;
}

.other {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ABABAB;
    font-weight: 500;
}

.reviews {
    position: relative;
}

.reviews:hover {
    color: #E8AA31;
    font-weight: 600;
}

.footer {
    flex: 0 0 13.4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid rgba(14, 14, 14, 0.5);
    padding-bottom: 10px;
}

.price {
    font-size: 1.25rem;
    font-weight: 600;
}

.misc {
    display: flex;
    gap: 15px;
}

.active {
    display: none;
}

.notFavorite:hover .active {
    display: block;
}

.passive {
    display: block;
}

.notFavorite:hover .passive {
    display: none;
}
