.ShopPage {
}

.topBanner {
    height: 788px;
    color: #FFFFFF;
    background: center / contain repeat url("./img/top-banner-back-2.png"),
    center / cover url("./img/top-banner-back-1.png"),
    #141414;
    position: relative;
}

.products {
}

.topSellers {
}

.newProducts {
    height: 761px;
    color: #FFFFFF;
    background: center / cover url("./img/new-product-back.png"),
    #2A2A2A;
}

.sales {
}

.articles {
}

.bottomBanner {
}
