.RegistrationPage {
  padding: 30px 0;
}

.registrationBlock {
  display: flex;
  gap: 30px;
}

.form {
  flex: 0 1 500px;
}

.extras {
  flex: 1 1 auto;
}

.text {
  margin-bottom: 10px;
}

.bold {
  font-weight: 600;
}
