.LoginPage {
  padding: 30px 0;
}

.loginBlock {
  display: flex;
  gap: 30px;
}

.form {
  flex: 0 1 500px;
}

.extras {
  flex: 1 1 auto;

  p {
    margin-bottom: 10px;
  }
}

.link {
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}
