.ProductForm {
    padding: 30px 0;
    border-bottom: 1px solid rgba(14, 14, 14, 15%);
    display: grid;
    grid-template-columns: 195px auto;
    align-items: center;
    row-gap: 20px;
}

.formLabel {
    font-size: 1.125rem;
    font-weight: 500;
}
