.AppBreadcrumbs {
}

.link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #141414;
    position: relative;
    opacity: 0.5;
}

.link:hover::after {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #E8AA31;
}

.page {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #E8AA31;
}
