.App {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 229px;
    width: 100%;
    background-color: #ecf1f2;
}

.main {
    flex: 1 1 auto;
    background-color: #fefefe;
}

.footer {
    flex: 0 0 1124px;
    background-color: #141414;
    color: rgba(255, 255, 255, 80%);
    font-size: 1.125rem;
    font-weight: 500;
}
